
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MIS相關工作介紹</title>

  <style type="text/css">
    * { 
      font-family: "標楷體"; }

    header { 
      font-size: 36px;
      color: black; }

    .col-lg-4 {
      border: 1px solid; }

  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <nav class="navbar navbar-expand-md bg-warning navbar-light">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  </div>
  </nav>

  <main class="container-fluid bg-dark text-white text-center">

    <nav>
      <h1><a href="https://www.mediatek.tw/" 
              class="text-reset text-decoration-none text-white bg-success" target="_blank" id="COMPANY">聯發科技股份有限公司</a></h1>
    </nav>

    <img src="/static/mediatek.jpg" alt="照片" width="500" class="img-fluid rounded-circle" id="PICTURE"> 
    <br><br><br>

    <div class="row">
      <session id="COMPANY" class="col-lg-4">
        <header><a href="https://corp.mediatek.tw/news-events/press-releases"
                    class="text-reset text-decoration-none text-white bg-success">公司資訊</header>
        <h3><font color="D55034">公司名：<br>
        </font>聯發科技股份有限公司<br>
          <font color="D55034">地址：<br>
          </font>新北市新店區安康路3段784號<br>
        <font color="D55034">服務/商品：</h3>
          <h4></font>高度整合微處理器及通訊模組</h4>
          <h4></font>為Arduino與Visual Studio提供插入軟體開發套件</h4>
        <h3><font color="D55034">公司介紹：</h3>
          <h4></font>
          	透過各項智慧技術協助使用者開拓視野，<br>
          	最終達成目標，我們與廣受大眾喜愛的品牌攜手，<br>
          	致力於讓科技產品更為普及</h4>
      </session>

      <article id="worker" class="col-lg-4">
        <header><a href="https://www.1111.com.tw/job/98736991/"
                    class="text-reset text-decoration-none text-white bg-success">職務介紹</header> 
        <h3><font color="black">1:</font>設計平台自動化工程師<br>
          <font color="black">2:</font>軟韌體開發工程師<br>
          <font color="black">3:</font>運算系統架構工程師<br></h3>
      </article>
      
      <aside id="need" class="col-lg-4">
        <header><a href="https://www.1111.com.tw/job/98736991/"
                    class="text-reset text-decoration-none text-white bg-success">
        工作條件需求</a></header>
        <h3><font color="D55034">接受身份：</h3><h4></font>上班族、應屆畢業生</h4>
        <h3><font color="D55034">工作經歷：</h3><h4></font>不拘</h4>
        <h3><font color="D55034">學歷要求：</h3><h4></font>碩士以上</h4>
        <h3><font color="D55034">科系要求：</h3><h4></font>電機、電子、資工、通信</h4>
        <h3><font color="D55034">語文條件：</h3><h4></font>不拘</h4>
        <h3><font color="D55034">擅長工具：</h3><h4></font>C#、RTOS、TCP/IP</h4>
      </aside>
    </div><br><br>

    <br><font size="6">
    <div style=" width: 150px; height: 30px; border-color: RGB(166, 172, 175); padding: 5px; text-align: center;">
      <font size="6">
      <a href="/">回首頁<br></div>
      </font></a>
    
    <footer>
      Copyright ©  黃俊翔. All Rights Reserved.
    </footer>
  </main>
</body>
</html>